<div class="page-container" style="height: 95%;">
    <div class="panel-header panel-header-sm"></div>
    
    <div class="main-content">
      <!-- <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header">
              <h5 class="title">Edit Profile</h5>
            </div>
            <div class="card-body">

            </div>
          </div>
        </div>
      </div> -->

      <div class="row">
        <div class="col-md-8">
          <div class="card">
              <div class="card-header">
                  <h5 class="title">Source Management</h5>
              </div>
              <div class="card-body">

                <div class="search-bar">
                    <mat-form-field>
                        <mat-label>Search</mat-label>
                        <input matInput [formControl]="search">
                    </mat-form-field>
                
                    <i-plus-circle class="add-button" (click)="onAddSource()"></i-plus-circle>
                </div>

                <mat-selection-list class="selection-list" (selectionChange)="selectionChange($event.option)" multiple #selectedSources>
                  <div class="numerous-selection">
                      <mat-checkbox [indeterminate]="indeterminateSign" [checked]="checkSign" (change)="allCheckedOperation()" #checkRef>
                          {{ status }}
                      </mat-checkbox>
                      <i-trash-2 (click)="onDeleteAll()" style="margin-left: 10px;"></i-trash-2>
                  </div>
                  
                  <mat-list-option *ngFor="let source of $search|async; index as i" [value]="source"[selected]="source.selected" [class.preset]="true">
                      <div class="source-div" id="{{'source-div-' + i}}">
                          <div style="display:flex; align-items: baseline;">
                              <i-camera class="camera-icon"></i-camera>
                              <a mat-list-item><label class="list-item">{{ source.source.title }}</label></a>
                          </div>
                          <i-trash-2 (click)="onDelete(source.source)"></i-trash-2>
                      </div>
                  </mat-list-option>
                </mat-selection-list>
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-user" *ngIf="selectedSources.selectedOptions.selected.length">
            <div class="image" style="height: 135px;">
              <img src="../assets/img/header.jpg" alt="...">
            </div>
            <!-- <div class="card-header">
                <h5 class="title">
                  <i-camera></i-camera>
                </h5>
            </div> -->
            <div class="card-body">
              <div class="author">
                <a>
                  <!-- <img class="avatar border-gray" src="../assets/img/mike.jpg" alt="..."> -->
                  <img class="avatar border-gray" src="../assets/img/camera.jpg" alt="...">
                  <h5 class="title">Edit</h5>
                </a>
                <p class="description">
                  Please enter the data below
                </p>
              </div>
              <!-- <p class="description text-center">
                "Lamborghini Mercy
                <br> Your chick she so thirsty
                <br> I'm in that two seat Lambo"
              </p> -->
              <div class="form-container">   
                <div class="form-group">
                  <form [formGroup]="myForm">
                      <mat-form-field class="form-field" [floatLabel]="'never'">
                          <input matInput placeholder="Title here" enabled formControlName="title" required #titleInput>
                          <mat-error *ngIf="myForm.hasError('required', 'title')">
                              Please enter your title
                          </mat-error>
                      </mat-form-field> 
                      
                      <mat-form-field class="form-field" [floatLabel]="'never'">
                          <input matInput placeholder="Description here" enabled formControlName="description" required #descInput>
                          <mat-error *ngIf="myForm.hasError('required', 'description')">
                              Please enter your description
                          </mat-error>
                      </mat-form-field>  
                  </form>
                </div>                 
                
                <button mat-raised-button class="field-button" (click)="submitUpdate(titleInput.value, descInput.value)">Submit</button>
                <!-- <button mat-raised-button color="warn" class="field-button" (click)="submitUpdate(titleInput.value, descInput.value)">Submit</button> -->
              </div>
            </div>
        </div>
        </div>
      </div>
    </div>

</div>


<!-- <div class="form-container">                    
  <form [formGroup]="myForm" class="form-group">
      <mat-form-field class="form-field" [floatLabel]="'never'">
          <input matInput placeholder="Title here" enabled formControlName="title" required #titleInput>
          <mat-error *ngIf="myForm.hasError('required', 'title')">
              Please enter your title
          </mat-error>
      </mat-form-field> 
      
      <mat-form-field class="form-field" [floatLabel]="'never'">
          <input matInput placeholder="Description here" enabled formControlName="description" required #descInput>
          <mat-error *ngIf="myForm.hasError('required', 'description')">
              Please enter your description
          </mat-error>
      </mat-form-field>  
  </form>
  
  <button mat-raised-button color="warn" class="field-button" (click)="submitUpdate(titleInput.value, descInput.value)">Submit</button>
</div> -->
