/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */

.container {
  height: 85%;
  width: 85%;
}

.title {
  line-height: 0.5;
  text-align: center;
}
.title span {
  display: inline-block;
  position: relative;
}
.title span::before,
.title span::after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  width: 350px;
}
.title span::before {
  right: 100%;
  margin-right: 15px;
}
.title span::after {
  left: 100%;
  margin-left: 15px;
}

.cards-container {
  width: 100%;
  margin-left: 50px;
}

.title-card {
  position: relative;
  z-index: 1;
  background-color: #3f51b5;
  color: white;
  margin-left: 100px;
  top: 10px;
  width: 50%;
  border-radius: 10px;
}

.subtitle {
  color: white;
}

.content-card {
  width: 70%;
  min-height: 300px;
  position: relative;
  margin-top: -5px;
  margin-left: 50px;
  border-radius: 15px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button {
  margin-left: 20px;
}

.add-button:hover {
  cursor: pointer;
}

.numerous-selection {
  display: flex;
  margin-bottom: 10px;
}

.mat-selection-list {
  margin-left: 10vh;
  outline: none;
  /* max-height: 300px; */
  max-height: 335px;
  width: 85%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.mat-selection-list::-webkit-scrollbar {
  width: 5px;
}
.mat-selection-list::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.26);
}

::ng-deep.mat-pseudo-checkbox {
  color: rgba(0, 119, 6, 0.7);
}
.mat-list-item.preset .list-item {
  color: black;
}

.trash-icon {
  display: block;
}

.camera-icon {
  margin-top: 5px;
}

/* .form-container {
  margin: 0px 0px 10px 200px;
} */

.form-group {
  display: block;
  height: 120px;
  width: 80%;
  margin: 0 auto;
}

.form-field {
  width: 100%;
  min-height: 60px;
  display: inline-block;
}

.field-button {
  display: block;
  /* margin: 40px auto 10px; */
  margin: 10px auto 10px;
  /* margin-top: 40px; */
  width: 80px;
  background: var(--panter-color);
  color: white;
}

.source-div {
  /* inline */
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* animation */
  transition: transform 1.5s 0s, opacity 1.25s 0s;
  transform: translateX(0);
  opacity: 1;
}

.animation-delete {
  transform: translateX(100vw);
  opacity: 0;
}

.title {
  color: var(--panter-color);
}
