<div class="page-container" style="height: 95%;">
    <div class="panel-header panel-header-sm">
    </div>
    <div class="main-content">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header">
              <h5 class="title">Edit Profile</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="myForm">
                    <div class="row">
                        <div class="col-md-5 mx-4">
                          <div class="form-group">
                              <label>Username</label>
                              <input type="text" class="form-control" disabled="" value={{user.username}}>
                          </div>
                        </div>

                        <div class="col-md-3 mx-2">
                          <div class="form-group">
                              <label>Role</label>
                              <input type="text" class="form-control" placeholder="Company" disabled="" value="Guest">
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 mx-4">
                            <div class="form-group" style="width: 100%;">
                                <label>Password</label>
                                <div class="password-input">
                                    <div class="password-field">
                                      <mat-form-field [floatLabel]="'never'">
                                          <input 
                                          matInput
                                          placeholder="Password"
                                          enabled
                                          formControlName="password"
                                          required
                                          [type]="!hide ? 'password' : 'text'"
                                          #passwordInput/>
      
                                          <mat-error *ngIf="myForm.hasError('required', 'password')">
                                              Please enter your new password
                                          </mat-error>
                                      </mat-form-field>    
                                    </div>
                                    <i-eye class="eye" *ngIf="hide" (click)="hide = false"></i-eye>
                                    <i-eye-off class="eye" *ngIf="!hide" (click)="hide = true"></i-eye-off>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-8 mx-4">
                          <div class="form-group" style="width: 100%;">
                              <label>Confirm Password</label>
                              <div class="password-input">
                                  <div class="password-field">
                                    <mat-form-field [floatLabel]="'never'">
                                        <input 
                                        matInput
                                        placeholder="Confirm Password"
                                        formControlName="confirmPassword"
                                        [errorStateMatcher]="matcher"
                                        [type]="!hideCon ? 'password' : 'text'"/>
    
                                        <mat-error *ngIf="myForm.hasError('notSame')">
                                          Password do not match
                                        </mat-error>
                                    </mat-form-field>    
                                  </div>
                                  <i-eye class="eye" *ngIf="hide" (click)="hide = false"></i-eye>
                                  <i-eye-off class="eye" *ngIf="!hide" (click)="hide = true"></i-eye-off>
                              </div>
                          </div>

                      </div>
                    </div>

                    <!-- <button
                      mat-raised-button
                      color="warn"
                      class="field-button"
                      (click)="onSubmit(passwordInput.value)">
                      Submit
                    </button> -->

                    <button
                      mat-raised-button
                      class="field-button"
                      (click)="onSubmit(passwordInput.value)">
                      Submit
                    </button>
                </form>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-user">
            <div class="image">
              <img src="../assets/img/bg5.jpg" alt="...">
            </div>
            <div class="card-body">
              <div class="author">
                <a>
                  <img class="avatar border-gray" src="../assets/img/user.png" alt="...">
                  <h5 class="title">{{ user.username }}</h5>
                </a>
                <p class="description">
                  Guest
                </p>
              </div>
              <hr>
              <p class="description text-center">
                Change your password Here
                <br>
                <br>Note: Password and Confirm Password must equal
              </p>
            </div>
            <!-- <div class="button-container">
              <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                <i class="fab fa-facebook-f"></i>
              </button>
              <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                <i class="fab fa-twitter"></i>
              </button>
              <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                <i class="fab fa-google-plus-g"></i>
              </button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
