label {
  padding-left: 10px;
}

.form-group {
  display: inline-block;
  height: 100px;
}

.form-field {
  /* min-width: 150px;
    max-width: 500px; */
  width: 100%;
  min-height: 50px;
  display: inline-block;
}

.password-input {
  display: flex;
  /* margin-bottom: 10px; */
}

.eye {
  margin-top: 20px;
  margin-left: 15px;
}

.i-eye {
  width: 24px !important;
  height: 24px !important;
}

.field-button {
  display: block;
  width: 90px;
  margin: auto;
  margin-top: 10px;

  background: var(--panter-color);
  color: white;
}

.password-field {
  background-color: transparent;
  border: 1px solid #e3e3e3;
  border-radius: 30px;
  color: #2c2c2c;
  line-height: normal;
  /* font-size: 0.8571em; */
  font-size: 1em;
  height: auto;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  box-shadow: none;
  padding: 10px 18px 10px 18px;
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.title {
  color: var(--panter-color);
}
