/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */

.wrapper {
  background: rgba(63, 88, 150, 0.9);
}

.login-wrap {
  margin: 0;
  color: #5a5f8c;
  background: #c8c8c8;
  font: 600 16px/18px "Open Sans", sans-serif;
}

*,
:after,
:before {
  box-sizing: border-box;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}

.login-wrap {
  width: 100%;
  height: 100%;
  margin: auto;
  max-width: 675px;
  min-height: 920px;
  position: relative;
  /* background: url("../../assets/Koala.jpg") no-repeat center; */
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.login-html {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 90px 70px 50px 70px;
  background: rgba(40, 57, 101, 0.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all 0.4s linear;
  display: grid;
}
/* .login-html .sign-in,
  .login-html .sign-up,
  .login-form .group .check{
      display: block;
  } */
.login-html .tab,
.login-html .group .label,
.login-form .group .button {
  text-transform: uppercase;
}
.login-html .tab {
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
  color: #fff;
  border-color: #1161ee;
  /* padding-bottom: 10px; */
}
.login-html .sign-up {
  width: 50 px;
  float: right;
}
.login-html .sign-in {
  width: calc(100% - 70px);
}
.login-form {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  margin-top: 15px;
}
.login-form .group {
  margin-bottom: 35px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
  width: 100%;
  color: #fff;
  display: block;
  padding: 0 0 10px 0;
}
.login-form .group .input,
.login-form .group .button {
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
}
.login-form .group input[data-type="password"] {
  -webkit-text-security: circle;
}
.login-form .group .label {
  color: #aaa;
  font-size: 12px;
  font-weight: bold;
}
.login-form .group .button {
  background: #1161ee;
}
/* .login-form .group label .icon{
      width:15px;
      height:15px;
      border-radius: 2px;
      position: relative;
      display: inline-block;
      background: rgba(255, 255, 255, .1);
  }
  .login-form .group label .icon:before,
  .login-form .group label .icon:after{
      content: '';
      width: 10px;
      height: 2px;
      background: #fff;
      position: absolute;
      transition: all .2s ease-in-out 0s;
  } */
/* .login-form .group label .icon:before{
      left: 3px;
      width: 5px;
      bottom: 6px;
      transform: scale(0) rotate(0);
  }
  .login-form .group label .icon:after{
      top: 6px;
      right: 0;
      transform: scale(0) rotate(0);
  } */
/* .login-form .group .check:checked + label{
      color: #fff;
  }
  .login-form .group .check:checked + label .icon{
      color: #1161ee;
  } */
/* .login-form .group .check:checked + label .icon:before{
      transform: scale(1) rotate(45deg);
  }
  .login-form .group .check:checked + label .icon:after{
      transform: scale(1) rotate(-45deg);
  } */
.login-html
  .sign-in:checked
  + .tab
  + .sign-up
  + .tab
  + .login-form
  .sign-in-htm {
  transform: rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
  transform: rotate(0);
}

.hr {
  height: 2px;
  margin: 60px 0 50px 0;
  background: rgba(255, 255, 255, 0.2);
}
.msg {
  text-align: center;
}
.msg .error-msg {
  color: rgb(235, 57, 57);
}
.msg .valid-msg {
  padding-top: 10px;
  color: rgb(231, 74, 74);
}
