
<div class="wrapper">
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked style="visibility: hidden">
            <label for="tab-1" (click)="loginPage()" class="tab">Sign In</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up" style="visibility: hidden">
            <label for="tab-2" (click)="registerPage()" class="tab">Sign Up</label>
            
            <div class="login-form">

                <form [formGroup]="loginForm" class="sign-in-htm">
                    <mat-form-field class="group" [floatLabel]="'never'">
                        <label for="user" class="label">Username</label>
                        <input matInput id="user1" type="text" class="input" formControlName="loginUsername" required #usernameInput>
                        <mat-error *ngIf="loginForm.hasError('required', 'loginUsername')">
                            Please enter your username
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="group" [floatLabel]="'never'">
                        <label for="pass" class="label">Password</label>
                        <input matInput id="pass1" type="password" class="input" data-type="password" formControlName="loginPassword" required #passwordInput>
                        <mat-error *ngIf="loginForm.hasError('required', 'loginPassword')">
                            Please enter your password
                        </mat-error>
                    </mat-form-field>
                    <div class="group">
                        <input type="submit" class="button" (click)="onLogin(usernameInput.value, passwordInput.value)" value="Sign In">
                    </div>

                    <div class="msg" *ngIf="loginFailed">
                        <div class="hr"></div>
                        <div class="error-msg">
                            <label href="#">Wrong Inputs. Fix and try again</label>
                        </div>
                    </div>
                </form>

                <form [formGroup]="registerForm" class="sign-up-htm">
                    <mat-form-field [floatLabel]="'never'" class="group">
                        <label for="user" class="label">Username</label>
                        <input matInput id="user2" name="username" type="text" class="input" formControlName="registerUsername" required #username>
                        <mat-error *ngIf="registerForm.hasError('required', 'registerUsername')">
                            Please enter your Username
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field [floatLabel]="'never'" class="group">
                        <label for="pass" class="label">Password</label>
                        <input matInput id="pass2" type="password" class="input" data-type="password" formControlName="registerPassword" required #password>
                        <mat-error *ngIf="registerForm.hasError('required', 'registerPassword')">
                            Please enter your new password
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field [floatLabel]="'never'" class="group">
                        <label for="pass" class="label">Confirm Password</label>
                        <input matInput id="passauth" type="password" class="input" data-type="password" formControlName="confirmPassword" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="registerForm.hasError('notSame')">
                            Password do not match
                        </mat-error>
                    </mat-form-field>
                    <div class="group">
                        <input type="submit" class="button" (click)="onRegister(username.value, password.value)" value="Sign Up">
                    </div>
                    <div class="msg" *ngIf="registerFailed">
                        <div class="hr"></div>
                        <div class="error-msg">
                            <label href="#">Username already exists</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<div>
