

<div class="video-container" id="{{'video-container-' + index.toString() }}">       
    <div class="canvas-container" id="{{'canvas-container-' + index.toString() }}">
        <canvas class="telemetry-canvas" id="{{'telemetry-canvas-' + index.toString() }}"></canvas>

        <div class="content" style="background: rgba(0, 0, 0, 0.3); z-index: 1; position: relative; top: -100px; width: 100%; padding-bottom: 125px; color: white;">
        </div>
        <menu class="controls" id="{{'video-controls-' + index.toString() }}" >
            
            <button class="control-button" id="{{'playpause-' + index.toString() }}" type="button" style="width: 5%;">▶</button>

            <div class="timer-container">
                <progress class="control-button timer" id="{{'progress-' + index.toString() }}" value="0" min="0">Progress</progress>
                <label class="control-button" id="{{'timer-' + index.toString() }}" for="{{'progress-' + index.toString() }}" role="timer"></label>
            </div>

            <div class="volume-container">
                <button class="control-button" id="{{'mute-' + index.toString() }}" type="button">🔊</button>          
                <progress class="control-button volume" id="{{'volume-' + index.toString() }}" value="0.5" min="0" max="1">
                    <span id="{{'volume-bar-' + index.toString() }}"></span>
                </progress>
            </div>

            <button class="control-button" id="{{'fs-' + index.toString() }}" type="button" style="width: 5%;">&#9974;</button>
        </menu >
    </div>
    
    <div class="mini-menu">
        <button class="icon-button" mat-mini-fab color="primary" (mousedown)="removeVideo($event)" (touchstart)="removeVideo($event)">
            <i-trash-2 class="icon"></i-trash-2>
        </button>
        <div class="container">
            <span title="{{device}}" class="device-title">{{device}}</span>
        </div>
    </div>

    <video id="{{'video-unit-' + index.toString() }}" class="video-js vjs-default-skin" width="50px" height="50px"></video>
</div> 

