.video-container {
  --mat-primary-color: #3f51b5;
  --animation-medium-color: #594fe8;
  /* --animation-medium-color: #747daf; */
  width: 100%;
  height: 100%;
  position: relative;
}

.canvas-container {
  height: 100%;
  width: 100%;
}

.telemetry-canvas {
  z-index: 1;
  /* height: 500px; */
  height: 100%;
  width: 100%;
  position: relative;
}

.controls {
  height: 30px;
  width: 100%;
  padding-inline-start: 0 !important;
  margin-block-end: 0 !important;
  margin-block-start: 0 !important;
  display: flex;
  margin: auto;

  position: relative;
  z-index: 1;
  /* top: -50px; */
  /* top: -85px; */
  top: -160px;
  /* background: transparent; */
  /* background: rgba(0, 0, 0, 0.5); */
}

.controls button,
label {
  color: white;
  background-color: transparent;
  border-color: transparent;
}

.controls label {
  font-size: small;
  width: 30%;
  padding-left: 5px;
}

.control-button {
  margin: auto;
}

.control-button:hover {
  cursor: pointer;
}

.timer-container {
  margin: auto;
  display: flex;
  width: 40%;
}

.volume-container {
  margin: auto;
  display: flex;
  width: 25%;
}

/* .mini-menu {
  display: flex;
  height: 100%;
  width: 20%;
}

.mini-menu p {
  background: #3f51b5;
  box-shadow: 1px 3px 9px 8px #3f51b5;
  text-shadow: 4px 3px 4px black;
  margin: 10px;
  color: white;
  border-radius: 5px;
}

.mini-menu .icon-button {
  height: 100%;
  background-color: #3f51b5;
} */

.mini-menu {
  height: 40px;
  width: 100%;
  z-index: 1;
  position: relative;
  top: -100%;
}

.mini-menu p {
  background: var(--mat-primary-color);
  box-shadow: 1px 3px 9px 8px var(--mat-primary-color);
  text-shadow: 4px 3px 4px black;
  margin: 10px;
  color: white;
  border-radius: 5px;
  position: absolute;
  right: 0px;
}

.mini-menu .icon-button {
  margin: 4px;
  height: 34px;
  width: 38px;
  /* height: 100%; */
  background-color: var(--mat-primary-color);
  position: absolute;
  left: 0px;
}

.mat-mini-fab .mat-button-wrapper {
  background-color: brown;
  padding: 5px 0 !important;
}

.mat-button-wrapper {
  padding: 5px 0 !important;
}

.mini-menu .icon {
  height: 100%;
}

.video-js *,
.video-js :after,
.video-js :before {
  object-fit: fill !important;
  position: absolute;
  top: -50px;
  visibility: hidden;
}

progress {
  width: 70%;
}

progress[value] {
  border-radius: 15px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
  display: inline;
  height: 15px;
}

/* WebKit styles */
progress[value]::-webkit-progress-bar {
  background-color: transparent;
  border-radius: 15px;
}

progress[value]::-webkit-progress-value {
  border-radius: 15px;
  background-image: linear-gradient(to right, #ffffff, #4d4c4c);
  transition: width 0.2s linear;
}

/* Firefox styles */
/* progress[value]::-moz-progress-bar {
  background-image: -moz-linear-gradient(to right, #ff8a00, #e52e71);
  border-radius: 3px;
  position: relative;
  transition: width 1s linear;
} */

.mat-button-wrapper {
  padding: 5px 0 !important;
  background-color: brown !important;
}

.icon {
  position: relative;
  top: -4px;
}

.device-title {
  color: transparent;
  font-size: 35px;
  margin-right: 7px;
  margin-top: 2px;
  display: inline-block;
  border-radius: 3px;
  /* background-color: var(--mat-primary-color); */
  background-color: var(--panter-color);
  position: absolute;
  right: 0;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bold;
}

.device-title[title]:before {
  content: attr(title);
  /* background: linear-gradient(
    90deg,
    #fffdfd 0%,
    var(--animation-medium-color) 51%,
    var(--mat-primary-color) 100%
  ); */
  background: linear-gradient(
    90deg,
    #fffdfd 0%,
    var(--animation-medium-color) 60%,
    var(--panter-color) 100%
  );
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 1s ease-in-out;
  animation: text-animation 3s infinite;
}

@keyframes text-animation {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

/* .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
} */
