
.container{
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    font-size: 32px;
    font-style: italic;
    color: cadetblue;
    font-stretch: expanded;
    font-weight: bold;
}

.hr{
    height: 2px;
    width: 90%;
    background: rgba(95, 95, 95, 0.2);
}

.cool:hover{
    background-color: rgba(122, 118, 118, 0.2)
}

.danger:hover{
    background-color: rgba(244, 67, 54, 1);
}