<h1>Add a user</h1>

<form [formGroup]="myForm" class="form-group">
        
    <mat-form-field class="form-field" [floatLabel]="'never'">
        <input matInput placeholder="Username" enabled formControlName="username" required type="text" #usernameInput>
        <mat-error *ngIf="myForm.hasError('required', 'username')">
            Username is required field 
        </mat-error>
    </mat-form-field>

    <div class="password-input">
        <mat-form-field class="form-field" [floatLabel]="'never'">
            <input matInput placeholder="Password" enabled formControlName="password" required [type]="!hide?'password':'text'" #passwordInput>
            <mat-error *ngIf="myForm.hasError('required', 'password')">
                Password is required field 
            </mat-error>
        </mat-form-field>
        <i-eye class="eye" *ngIf="hide" (click)="hide=false"></i-eye>
        <i-eye-off class="eye" *ngIf="!hide" (click)="hide=true"></i-eye-off>
    </div>

    <div class="password-input">
        <mat-form-field class="form-field" [floatLabel]="'never'">
            <input matInput placeholder="Confirm password" formControlName="confirmPassword" [errorStateMatcher]="matcher" [type]="!hideCon?'password':'text'">
            <mat-error *ngIf="myForm.hasError('notSame')">
                Password do not match
            </mat-error>
        </mat-form-field>
        <i-eye class="eye" *ngIf="hideCon" (click)="hideCon=false"></i-eye>
        <i-eye-off class="eye" *ngIf="!hideCon" (click)="hideCon=true"></i-eye-off>
    </div>
    
</form>

<mat-dialog-actions>
        <button mat-button (click)="onLeave()" class="cool">Cancel</button>
    <button mat-raised-button color="primary" class="field-button" (click)="onRegister(usernameInput.value, passwordInput.value)">Submit</button>
</mat-dialog-actions>
