<div class="page-container" style="height: 95%;">
  <div class="panel-header panel-header-sm"></div>
  
  <div class="main-content">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5 class="title">User Management</h5>
            </div>
            <div class="card-body">

              <div class="search-bar">
                  <mat-form-field>
                      <mat-label>Search</mat-label>
                      <input matInput [formControl]="search">
                  </mat-form-field>
              
                  <i-plus-circle class="add-button" (click)="onAddSource()"></i-plus-circle>
              </div>

              <mat-selection-list class="selection-list" (selectionChange)="selectionChange($event.option)" multiple #selectedSources>
                <div class="numerous-selection">
                    <mat-checkbox [indeterminate]="indeterminateSign" [checked]="checkSign" (change)="allCheckedOperation()" #checkRef>
                        {{ status }}
                    </mat-checkbox>
                    <i-trash-2 (click)="onDeleteAll()" style="margin-left: 10px;"></i-trash-2>
                </div>
                
                <mat-list-option *ngFor="let user of $search|async; index as i" [value]="user" [selected]="user.selected" [class.preset]="true">
                    <div class="user-div" id="{{'user-div-' + i}}">
                        <div style="display:flex; align-items: baseline;">
                            <i-user></i-user>
                            <a mat-list-item><label class="list-item">{{ user.user.username }}</label></a>
                        </div>
                        <i-trash-2 (click)="onDelete(user.user)"></i-trash-2>
                    </div>
                </mat-list-option>
              </mat-selection-list>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-user" *ngIf="selectedSources.selectedOptions.selected.length">
          <div class="image" style="height: 135px;">
            <img src="../assets/img/bg5.jpg" alt="...">
          </div>
          <div class="card-body">
            <div class="author">
              <a>
                <!-- <img class="avatar border-gray" src="../assets/img/mike.jpg" alt="..."> -->
                <img class="avatar border-gray" src="../assets/img/user.png" alt="...">
                <!-- <h5 class="title" style="color: #f96332;">Edit</h5> -->
                <h5 class="title">Edit</h5>
              </a>
              <p class="description">
                Please enter the data below
              </p>
            </div>
            <!-- <p class="description text-center">
              "Lamborghini Mercy
              <br> Your chick she so thirsty
              <br> I'm in that two seat Lambo"
            </p> -->
            <div class="form-container">                    
              <div class="form-group">
                <form [formGroup]="myForm">
                  <div class="password-input">
                    <mat-form-field class="form-field" [floatLabel]="'never'">
                      <input matInput placeholder="Password" enabled formControlName="password" required [type]="!hide ? 'password' : 'text'" #passwordInput/>
                      <mat-error *ngIf="myForm.hasError('required', 'password')">
                        Please enter your new password
                      </mat-error>
                    </mat-form-field>
                    <i-eye class="eye" *ngIf="hide" (click)="hide = false"></i-eye>
                    <i-eye-off class="eye" *ngIf="!hide" (click)="hide = true"></i-eye-off>
                  </div>
            
                  <div class="password-input">
                    <mat-form-field class="form-field" [floatLabel]="'never'">
                      <input matInput placeholder="Confirm password" formControlName="confirmPassword" [errorStateMatcher]="matcher" [type]="!hideCon ? 'password' : 'text'" />
                      <mat-error *ngIf="myForm.hasError('notSame')">
                        Password do not match
                      </mat-error>
                    </mat-form-field>
                    <i-eye class="eye" *ngIf="hideCon" (click)="hideCon = false"></i-eye>
                    <i-eye-off class="eye" *ngIf="!hideCon" (click)="hideCon = true"></i-eye-off>
                  </div>
                </form>
              </div>
          
              <!-- <button mat-raised-button color="warn" class="field-button" (click)="submitPassword(passwordInput.value)">Submit</button> -->
              <button mat-raised-button class="field-button" (click)="submitPassword(passwordInput.value)">Submit</button>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>

</div>
