<div class="page-container" style="height: 95%;">
    <div class="panel-header panel-header-sm"></div>

    <div class="main-content">
      <div class="row">
        <div class="col-md-8">
            <p>Page Unauthorized !</p>
        </div>
      </div>
    </div>
</div>
  
