
.container{
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    font-size: 32px;
    font-style: italic;
    color: rgb(1, 156, 161);
    font-stretch: expanded;
    font-weight: 900;
}

.hr{
    height: 2px;
    width: 90%;
    background: rgba(95, 95, 95, 0.2);
}

.cool:hover{
    background-color: rgba(122, 118, 118, 0.2)
}

.danger{
    opacity: 0.6;
    transition: 0.3s;
    font-weight: bold;
}

.danger:hover{
    background-color: red;
    opacity: 1;
    font-size: 16px;
    height: 40px;
    width: 100px;
}