<div class="container">
    <h1 mat-dialog-title class="title">Warning !</h1>
    <div class="hr"></div>
    <mat-dialog-content>
        <p>You are about to delete some sources!</p>
        <p>Are you sure you want to proceed ?</p>

    </mat-dialog-content>
    
    <mat-dialog-actions>
        <button mat-button [mat-dialog-close]="false" class="cool">Cancel</button>
        <button mat-raised-button [mat-dialog-close]="true" color="warn" cdkFocusInitial class="danger">Proceed</button>
    </mat-dialog-actions>
</div>
