<h1>Add a source</h1>

<form [formGroup]="myForm" class="form-group">

    <mat-form-field class="form-field" [floatLabel]="'never'">
        <input matInput placeholder="Uri here" enabled formControlName="uri" required #uriInput>
        <mat-error *ngIf="myForm.hasError('required', 'uri')">
            Uri is required field
        </mat-error>
    </mat-form-field> 

    <mat-form-field class="form-field" [floatLabel]="'never'">
        <input matInput placeholder="Title here" enabled formControlName="title" required #titleInput>
        <mat-error *ngIf="myForm.hasError('required', 'title')">
            Title is required field
        </mat-error>
    </mat-form-field> 
    
    <mat-form-field class="form-field" [floatLabel]="'never'">
        <input matInput placeholder="Description here" enabled formControlName="description" required #descInput>
        <mat-error *ngIf="myForm.hasError('required', 'description')">
            Description is required field
        </mat-error>
    </mat-form-field>  
</form>

<mat-dialog-actions>
        <button mat-button (click)="onLeave()" class="cool">Cancel</button>
    <button mat-raised-button color="primary" class="field-button" (click)="onRegister(uriInput.value, titleInput.value, descInput.value)">Submit</button>
</mat-dialog-actions>
