<div class="container">
    <h1 mat-dialog-title class="title">Warning !</h1>
    <div class="hr"></div>
    <mat-dialog-content>
        <p>You are about to delete this source from system the system:</p>
        <ul>
            <li>
                Uri: {{ data.uri }}
            </li>
            <li>
                Title: {{ data.title }}
            </li>
            <li>
                Description: {{ data.description }}
            </li>
        </ul>
    </mat-dialog-content>
    
    <mat-dialog-actions>
        <button mat-button [mat-dialog-close]="false" class="cool">Cancel</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="danger">Proceed</button>
    </mat-dialog-actions>
</div>
