/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  --panter-color: #5950e8;
  --panter-bg: #14161c;
}

/* $panter-color: #5950e8;
$panter-bg: #14161c; */
