<div class="page-container" style="height: 95%;">
    <div class="panel-header panel-header-sm"></div>

    <div class="main-content">
      <div class="row">
        <div class="col-md-8">

            <!-- <div class="home-container">
              <div class="mainTitle">
                <div class="left"><h1>My App</h1></div>
                <span class="separator"></span>
                <div class="right">
                  <p>Home<br />Page</p>
                </div>
              </div>
            
              <mat-card class="title-card">
                <mat-card-title class="card-title">What Can I do?</mat-card-title>
                <mat-card-subtitle class="subtitle">
                  In the navigation bar you can see the options you have. They also appear
                  below
                </mat-card-subtitle>
              </mat-card>
            
              <mat-card class="content-card">
                <p *ngIf="isAdmin">
                  Because you're admin, the app offers you the options bellow 👇
                </p>
                <p *ngIf="!isAdmin">
                  Because you're junior, the app offers you the options bellow 👇
                </p>
            
                <div class="options-container" style="display: flex">
                  <div class="option" *ngIf="isAdmin" style="display: flex">
                    <mat-card class="option-card" style="background-color: #9c27b0">
                      <mat-card-title>
                        <i-user></i-user>
                        Edit users
                      </mat-card-title>
            
                      <mat-card-subtitle class="subtitle">
                        Choose users to change their passwords
                      </mat-card-subtitle>
                    </mat-card>
            
                    <h3 class="bullet">&#8226;</h3>
                  </div>
            
                  <div class="option" *ngIf="!isAdmin" style="display: flex">
                    <mat-card class="option-card" style="background-color: #9c27b0">
                      <mat-card-title>
                        <i-user></i-user>
                        Edit your user
                      </mat-card-title>
            
                      <mat-card-subtitle class="subtitle">
                        Change your password
                      </mat-card-subtitle>
                    </mat-card>
                    <h3 class="bullet">&#8226;</h3>
                  </div>
            
                  <div class="option" *ngIf="isAdmin" style="display: flex">
                    <mat-card class="option-card" style="background-color: #4caf50">
                      <mat-card-title>
                        <i-camera></i-camera>
                        Edit Sources
                      </mat-card-title>
            
                      <mat-card-subtitle class="subtitle">
                        Choose sources to modify
                      </mat-card-subtitle>
                    </mat-card>
                    <h3 class="bullet">&#8226;</h3>
                  </div>
            
                  <mat-card class="option-card" style="background-color: #f44336">
                    <mat-card-title>
                      <i-video></i-video>
                      Live
                    </mat-card-title>
            
                    <mat-card-subtitle class="subtitle"> Watch Live </mat-card-subtitle>
                  </mat-card>
                </div>
              </mat-card>
            </div> -->
        </div>
      </div>
    </div>
</div>
  