.container {
  height: 85%;
  width: 85%;
}

.title {
  line-height: 0.5;
  text-align: center;
}
.title span {
  display: inline-block;
  position: relative;
}
.title span::before,
.title span::after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  width: 350px;
}
.title span::before {
  right: 100%;
  margin-right: 15px;
}
.title span::after {
  left: 100%;
  margin-left: 15px;
}

.live-container {
  width: 100%;
  height: 95%;
  display: flex;
  justify-content: space-between;
}

.source-container {
  height: 100%;
  /* width: 15%; */
  margin-left: 20px;
  color: var(--panter-color);
  box-shadow: 0 0 7px 2px #000000ab;
  font-family: Arial, Helvetica, sans-serif;
}

.container-span {
  margin-left: 5px;
}

.list-options {
  display: flex;
  /* align-items: center; */
}

.video-container {
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 14px 3px;
  margin-left: auto;
  margin-right: auto;
}

.gridster-container {
  background-color: transparent;
  padding: 5px;
}

.video-item {
  background-color: transparent;
  box-shadow: #3f51b5 0px 0px 10px 2px;
}
