<div class="page-container" style="height: 97%;">
  <div class="panel-header panel-header-sm" style="height: 60px; padding-top: 60px !important; padding-bottom: 15px !important;"></div>
  
  <!-- <div class="main-content" style="height: 92%; margin-top: 7px;">
    <div class="row" style="height: 100%;">
      <div class="col-md-2" style="height: 100%;">
        <div class="source-container" cdkDropList [cdkDropListData]="sourcesElmList" (cdkDropListDropped)="drop($event)">
            <div class="container-span">
                <h3>Available source list</h3>
                <div *ngFor="let source of sourcesElmList" cdkDrag>
                    <div class="list-options">
                        <i-camera style="padding-bottom: 5px"></i-camera>
                        <p style="padding-left: 5px; padding-top: 2px;">{{ source.title }}</p>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <div class="col-md-10">
        <div class="video-container" id="gridster-container">       
            <gridster [options]="options" class="gridster-container">
                <gridster-item [item]="item" *ngFor="let item of dashboard; let i = index" class="video-item">   
                    <app-video-box [sourceElement]="sourceToPush" [idIndex]="i" [(ngModel)]="i" [changeSize]="changeSizes" (checkItem)="checkItem($event)" (removeItem)="removeItem($event)"></app-video-box>
                </gridster-item>
            </gridster>
        </div> 
      </div>
    </div>
  </div> -->

  <div class="main-content" style="height: 92%; margin-top: 7px; padding-left: 15px;">
    <div class="row" style="height: 100%;">
        <div class="source-container" cdkDropList [cdkDropListData]="sourcesElmList" (cdkDropListDropped)="drop($event)" style="height: 100%; width: 8%">
            <div class="container-span">
                <h5>Available source list</h5>
                <div *ngFor="let source of sourcesElmList" cdkDrag>
                    <div class="list-options">
                        <i-camera style="padding-bottom: 5px"></i-camera>
                        <p style="padding-left: 5px; padding-top: 2px;">{{ source.title }}</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="video-container" id="gridster-container" style="width: 87%; height: 100%;">       
            <gridster [options]="options" class="gridster-container">
                <gridster-item [item]="item" *ngFor="let item of dashboard; let i = index" class="video-item">   
                    <app-video-box [sourceElement]="sourceToPush" [idIndex]="i" [changeSize]="changeSizes" (checkItem)="checkItem($event)" (removeItem)="removeItem($event)"></app-video-box>
                    <!-- <app-video-box [sourceElement]="sourceToPush" [idIndex]="i" [(ngModel)]="i" [changeSize]="changeSizes" (checkItem)="checkItem($event)" (removeItem)="removeItem($event)"></app-video-box> -->
                    <!-- <p>works</p> -->
                </gridster-item>
            </gridster>
        </div> 
    </div>
  </div>

</div>
