<div class="page-container" style="height: 97%;">
  <div class="panel-header panel-header-lg" style="height: 580px;">

    <!-- <form class="form-container" style="max-height: 80px;">
      <div class="option-container">
        
        <h6><small>Sources - {{ sources.length }}</small></h6>
        <mat-form-field appearance="fill">
          <mat-label>Sources</mat-label>
          <mat-select [(ngModel)]="device" name="source" (selectionChange)="onChangeSource($event)">
            <mat-option *ngFor="let source of sources" [value]="source.title">
              {{source.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <div class="option-container">
        <h6><small>Sensors - {{ sensors.length }}</small></h6>
        <mat-form-field appearance="fill">
          <mat-label>Sensors</mat-label>
          <mat-select [(ngModel)]="name" name="sensor" (selectionChange)="onChangeSensor($event)">
            <mat-option *ngFor="let sensor of sensors" [value]="sensor.name">
              <small>{{sensor.name}}</small>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <div class="option-container">
        <h6><small>Start Range - {{ startRange.length }}</small></h6>
        <mat-form-field appearance="fill">
          <mat-label>Start Range</mat-label>
          <mat-select [(ngModel)]="time" name="range" (selectionChange)="onChangeRange($event)">
            <mat-option *ngFor="let range of startRange" [value]="range">
              <small>{{ range.full }}</small>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
    </form> -->

    <div class="main-graph">
      <div class="card card-chart" style="background-color: transparent; box-shadow: 4px 6px 15px 7px rgb(255 255 255 / 15%); width: 99%; margin-left: 5px;">
        <div class="card-header">
          <h5 class="card-category">{{device}}</h5>
          <h6 class="card-title" style="color: rgb(225 217 182);">{{name}}</h6>
          <div ngbDropdown>
            <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
              <i class="now-ui-icons loader_gear"></i>
            </button>
            <div ngbDropdownMenu class="dropdown-menu-right">
              <a class="dropdown-item">
                <mat-form-field appearance="fill">
                  <mat-label>Sources</mat-label>
                  <mat-select [(ngModel)]="device" name="source" (selectionChange)="onChangeSource($event)">
                    <mat-option *ngFor="let source of sources" [value]="source.title">
                      {{source.title}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </a>
              <a class="dropdown-item">
                <mat-form-field appearance="fill">
                  <mat-label>Sensors</mat-label>
                  <mat-select [(ngModel)]="name" name="sensor" (selectionChange)="onChangeSensor($event)">
                    <mat-option *ngFor="let sensor of sensors" [value]="sensor.name">
                      <small>{{sensor.name}}</small>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </a>
              <a class="dropdown-item">
                <mat-form-field appearance="fill">
                  <mat-label>Start Range</mat-label>
                  <mat-select [(ngModel)]="time" name="range" (selectionChange)="onChangeRange($event)">
                    <mat-option *ngFor="let range of startRange" [value]="range">
                      <small>{{ range.full }}</small>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area" style="height: 350px;">
            <canvas baseChart id="bigDashboardChart" style="max-height: 380px !important;"
                    [datasets]="lineBigDashboardChartData"
                    [labels]="lineBigDashboardChartLabels"
                    [colors]="lineBigDashboardChartColors"
                    [options]="lineBigDashboardChartOptions"
                    [chartType]="lineBigDashboardChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="main-graph">
      <canvas baseChart id="bigDashboardChart" style="max-height: 380px !important;"
                  [datasets]="lineBigDashboardChartData"
                  [labels]="lineBigDashboardChartLabels"
                  [colors]="lineBigDashboardChartColors"
                  [options]="lineBigDashboardChartOptions"
                  [chartType]="lineBigDashboardChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>

      <div ngbDropdown>
        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
          <i class="now-ui-icons loader_gear"></i>
        </button>
        <div ngbDropdownMenu class="dropdown-menu-right">
          <a class="dropdown-item">Action</a>
          <a class="dropdown-item">Another action</a>
          <a class="dropdown-item">Something else here</a>
          <a class="dropdown-item text-danger">Remove Data</a>
        </div>
      </div>
    </div> -->
  </div>
  
  <div class="main-content" style="min-height: 0px; max-height: 500px !important; padding: 0 20px;">
    <div class="row">
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">{{lineChartSource}}</h5>
            <h6 class="card-title">{{lineChartSensor}}</h6>
            <!-- <div ngbDropdown>
              <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
                <i class="now-ui-icons loader_gear"></i>
              </button>
              <div ngbDropdownMenu class="dropdown-menu-right">
                <a class="dropdown-item" (click)="onChange()">Action</a>
                <a class="dropdown-item">Another action</a>
                <a class="dropdown-item">Something else here</a>
                <a class="dropdown-item text-danger">Remove Data</a>
              </div>
            </div> -->
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas baseChart id="lineChartExample"
                          [datasets]="lineChartData"
                          [labels]="lineChartLabels"
                          [colors]="lineChartColors"
                          [options]="lineChartOptions"
                          [chartType]="lineChartType"
                          (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">{{lineChartWithNumbersAndGridSource}}</h5>
            <h6 class="card-title">{{lineChartWithNumbersAndGridSensor}}</h6>
            <!-- <div ngbDropdown>
              <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
                <i class="now-ui-icons loader_gear"></i>
              </button>
              <div ngbDropdownMenu class="dropdown-menu-right">
                <a class="dropdown-item">Action</a>
                <a class="dropdown-item">Another action</a>
                <a class="dropdown-item">Something else here</a>
                <a class="dropdown-item text-danger">Remove Data</a>
              </div>
            </div> -->
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas baseChart id="lineChartExampleWithNumbersAndGrid"
                          [datasets]="lineChartWithNumbersAndGridData"
                          [labels]="lineChartWithNumbersAndGridLabels"
                          [colors]="lineChartWithNumbersAndGridColors"
                          [options]="lineChartWithNumbersAndGridOptions"
                          [chartType]="lineChartWithNumbersAndGridType"
                          (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">{{lineChartGradientsNumbersSource}}</h5>
            <h6 class="card-title">{{lineChartGradientsNumbersSensor}}</h6>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas baseChart id="barChartSimpleGradientsNumbers"
                      [datasets]="lineChartGradientsNumbersData"
                      [labels]="lineChartGradientsNumbersLabels"
                      [colors]="lineChartGradientsNumbersColors"
                      [options]="lineChartGradientsNumbersOptions"
                      [chartType]="lineChartGradientsNumbersType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
