.form-container {
  display: flex;
  width: 90%;
  color: antiquewhite;
}

.option-container {
  display: block;
  margin: auto;
}

.mat-select {
  font-size: 1.25em;
}
/* mat-label {
  color: rgb(225 217 182);
}

::ng-deep .mat-select-value {
  color: rgb(225 217 182) !important;
} */
